/*------------------------------------------------------------------------- logo ---------------------------------------------------------------*/
.logo {
  color: white !important;
  background-color: #002041 !important;
  height: fit-content;
  width: fit-content;
  font-weight: 500 !important;
}

/* -----------------------------------------------------------------------navbar--------------------------------------------------------------- */

.nav-link {
  font-size: medium !important;
  color: black !important;
  text-transform: uppercase !important;
  border-radius: 0.5rem;
}
.navbar {
  position: relative !important;
}
.navbar-nav {
  margin: auto !important;
}

.select-dropdown,
.select-dropdown:focus {
  border: none !important;
}
.search-icon,
.shopping-icon {
  height: 16px;
}
/* ----------------------------------------------------------nav section ends here ------------------------------------------------------------*/

