/* ---------------------------------------------------------normal mobile screen--------------------------------------------------------------- */
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
  .title-discp {
    font-size: 6px !important;
  }
  .btn {
    font-size: xx-small !important;
  }

  .product-img {
    margin-top: 70% !important;
  }
  #sub-btn {
    font-size: smaller !important;
    font-weight: 600 !important;
  }
  .footer-nav-item {
    font-size: 6px !important;
  }
  .cpname {
    font-size: 7px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .counter {
    height: 135px !important;
    width: 135px !important;
  }
}

/* ---------------------------------------------------------------small screen--------------------------------------------------------------- */

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .counter {
    height: 100px !important;
    width: 100px !important;
  }
  .title-discp {
    font-size: 9px !important;
  }
  .product-img {
    margin-top: 155% !important;
  }

  .cpname {
    font-size: 7px !important;
  }
  .footer-nav-item {
    font-size: 5px;
  }
}

/* --------------------------------------------------------For lap pc  Resolution-------------------------------------------------------------- */
@media only screen and (min-width: 1025px) and (max-width: 2600px) {
  .product-img {
    height: 15rem !important;
  }
  .counter {
    background-color: #002041;
    height: 220px;
    width: 220px;
    font-size: 40px;
  }
  .carousal-dark {
    height: 31rem !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  .title {
    font-size: 40px;
  }
  .image-container:hover {
    transform: scale(0.95);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: 900ms;
  }

  .image-container:not(:hover) {
    transition: 900ms;
  }
  .nav-link:hover,
  .dropdown-menu:hover {
    background-color: #002041;
    color: white !important;
    transition: 300ms;
  }
  .search-icon:hover,
  .shopping-icon:hover {
    filter: brightness(0) invert(1);
  }
  #car-bgd {
    justify-content: center !important;
    align-items: center !important;
    height: 540px !important;
    background-color: #002041 !important;
  }
  .car-bg {
    background-color: #002041 !important;
    margin-top: 84px;
  }
}
