/*------------------------------------------------------------------------- global-------------------------------------------------------------*/
p {
  text-align: center;
}

/* ----------------------------------------------------------why we are best start here---------------------------------------------------------------- */
.qaulity {
  border-radius: 100%;
}

.quality-hd {
  color: #002041;
  text-transform: uppercase;
  font-weight: 500;
}

/* -----------------------------------------------------------why we are best ends here---------------------------------------------------------------- */

/* ------------------------------------------------------our upcomming product start here ------------------------------------------------------*/
.play-btn {
  height: 2.5rem;
}

/* -----------------------------------------------------------------back to top btn -----------------------------------------------------------*/

.back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #002041;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  opacity: 60%;
}

.back-to-top-btn:hover {
  background-color: #002041;
  opacity: 100%;
}
.back-to-top-btn i {
  font-size: 20px;
}

.back-to-top-btn.show {
  display: block;
}
